@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-[#f2f2f2] text-gray-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-[#111827] text-gray-100;
  }
}

